@charset "utf-8";

$bg-color:#f5f6f7;
$bg-color-articel: #fff;

//begin reset.css
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
// end reset.css

/*clearfix规则：*/
.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
/*clearfix添加了一个清除的包含句点作为非浮动元素（要有内容，句号是最小的内容）*/

*{
    box-sizing: border-box;
}

body{
  background-color:$bg-color;
}
p{
    text-indent: 2em;
}
.article1,.article2,.article3,.picture,.side{
  background-color:  $bg-color-articel;
  margin: 20px;
  box-shadow: 0 4px 20px 1px rgba(0,0,0,.2);
  section{
    padding: 20px;
  }

  li{
    list-style: none;
  }
}
.picture {
    li{
        border: 1px solid black;
        height: 450px;
        width: 600px;
        padding: 10px;
        margin: 20px;
    }
}
.pic-title{
    text-align: center;
}
.article3 {
    ol{
        li{
            list-style: decimal;
            font-weight: bold;
            }
        }
        table{
            width: 100%;
            thead{
                color: #fff;
                background-color: #000;
            }

            .tb-end{
                color:black;
                background-color: #bbbaba;
            }
        }
}
.register{
    margin: 0 auto;
}
.error{
    color:#dedada;
}
.submit{
    button{
    color: #fff;
    background-color: #1353ad;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    }
}
.copyright{
    text-align: center;
}
.form-content{
    width: 100%;
    text-align: center;
}
.row{
    display: block;
    position: relative;
    margin-bottom: 20px;
}
.form-control{
    display: inline-block;
}
.col-xs-4{
    width:40%;
    float: left;
    margin-bottom: 20px
}
.col-xs-6{
    width: 60%;
    float: left;
    margin-bottom: 20px;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.description{
    width: 600px;
}
.content{
      background-color: #eee;
      padding-top: 20px;
      margin: 0 auto;
      min-height: inherit;
      .container{
          max-width: none !important;
      }
}
#left{
    float: left;
    width: 220px;
    height: auto;
    margin-left: 20px;
}

#right{
    width: 120px;
    height: auto;
    float: left;
    position: absolute;
    right: 20px;
    top: 20px;
}

#main {
    margin-left: 260px;
    margin-right: 160px;
    height: auto;
}
.left-side,.mid-content,.right-side{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #999;
}
.left-side{
    width: 200px;
    padding: 20px;
    float: left;
}
// .team-info{
//     width: 200px;
// }
.team-logo,.teammate{
    // padding: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
    img{
        display: block;
        height: 80px;
        width: 80px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 1px solid  #999;
    }
}
.team-name{
    // padding: 20px;
}
.fl{
    float: left;
}
.right-side{
    // width: 120px;
    // clear: both;
}